html,body{
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.flex{
    display: flex;
}
.grow{
    flex-grow: 1;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}
.align-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
